{% if switchable_account %}
	{% if S_LINKEDACCOUNTS_AJAX %}
		{% INCLUDEJS '@flerex_linkedaccounts/ajax.js' %}
	{% endif %}
	<li id="linked_accounts" class="bg1">
		<ul>
			{% for account in switchable_account %}
			<li>
				{% if U_CAN_SWITCH_ACCOUNT %}
					<a href="{{ account.SWITCH_LINK }}" role="menuitem"{% if S_LINKEDACCOUNTS_AJAX %} data-ajax="flerex.linked_accounts.switch" data-refresh="true"{% endif %}>
						{% if account.AVATAR %}
							{{ account.AVATAR }}
						{% else %}
							<img src="{{ T_THEME_PATH }}/images/no_avatar.gif" class="avatar" alt="">
						{% endif %}
						{{ account.NAME }}
					</a>
				{% else %}
					{% if account.AVATAR %}
						{{ account.AVATAR }}
					{% else %}
						<img src="{{ T_THEME_PATH }}/images/no_avatar.gif" class="avatar" alt="">
					{% endif %}
					{{ account.NAME }}
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</li>
{% endif %}