{% INCLUDE 'overall_header.html' %}

<h1>{{ EDITED_PAGE_TITLE }}</h1>

<form id="usermanagement" method="post" action="{{ U_ACTION }}">

<table id="list" class="table1 zebra-table">
	<caption>{{ lang('ACCOUNT_LINKS') }}</caption>
	<thead>
		<tr>
			<th>{{ lang('ACCOUNT') }}</th>
			<th>{{ lang('LINKED_ON') }}</th>
			<th style="width: 7%; text-align: center;">{{ lang('MARK') }}</th>
		</tr>
	</thead>
	<tbody>
	{% for account in accounts %}
		<tr class="{% if account.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
			<td><a href="{{ account.URL_EDIT }}">{{ account.USERNAME }}</a></td>
			<td>{{ account.DATE }}</td>
			<td class="mark"><input type="checkbox" name="keys[]" value="{{ account.ID }}" id="{{ account.ID }}"></td>
		</tr>
	{% else %}
		<tr class="big-column"><td colspan="3" class="bg1" style="text-align: center">{{ lang('NO_LINKED_ACCOUNTS') }}</td></tr>
	{% endfor %}
	</tbody>
</table>

{% if accounts|length %}
<fieldset class="quick">
	<input class="button1" type="submit" name="unlink" value="{{ lang('UNLINK_ACCOUNT') }}">
	<div><a href="#" onclick="$('#list input:checkbox').prop('checked', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="$('#list input:checkbox').prop('checked', false); return false;">{{ lang('UNMARK_ALL') }}</a></div>
</fieldset>
{% endif %}


<h1>{{ lang('LINK_ACCOUNTS') }}</h1>

<p>{{ lang('LINK_ACCOUNTS_EXPLAIN') }}</p>

<fieldset>
	<legend>{{ lang('LINK_ACCOUNTS') }}</legend>
	<dl>
		<dt>
			<label for="usernames">{{ lang('USERNAME') }}{{ lang('COLON') }}</label>
			<br /><span>{{ lang('USERNAMES_EXPLAIN') }}</span>
		</dt>
		<dd>
			<textarea id="usernames" name="usernames" cols="40" rows="5"></textarea>
				
			</dd>
		<dd>
			[ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]
		</dd>
	</dl>

	<p class="quick">
		<input class="button2" type="submit" name="createlinks" value="{{ lang('SUBMIT') }}" />
	</p>
</fieldset>

{{ S_HIDDEN_FIELDS }}
<input type="hidden" name="currentaccount" value="{{ CURRENT_ACCOUNT }}">
{{ S_FORM_TOKEN }}

</form>

{% INCLUDE 'overall_footer.html' %}
