#username_logged_in .dropdown-contents {
	display: flex;
	flex-direction: column;
}

#linked_accounts {
	order: 1;
	margin: 5px -5px -5px -5px;
	padding: 5px 10px;
	border-top: none;
	font-weight: bold;
}

#linked_accounts + .separator {
	display: none;
}

#linked_accounts + .separator + li {
	border-top: 1px dotted #DCDCDC;
}

#linked_accounts li {
	padding: 5px 0;
}

#linked_accounts a {
	padding: 0;
}

#linked_accounts li:first-child {
	margin-top: 0;
}

#linked_accounts img,
#linked_accounts .avatar {
	max-height: 15px;
	width: auto;
	margin-right: 5px;
}

/*
 * Profile linked account list
 */
#profile_linked_accounts_list .avatar {
	max-height: 25px;
	width: auto;
}

#profile_linked_accounts_list th {
	text-align: left;
}

#profile_linked_accounts_list .avatar_col {
	width: 8%;
}