{% INCLUDE 'ucp_header.html' %}

<form id="ucp" method="post" action="{{ U_ACTION }}" {{ S_FORM_ENCTYPE }}>

	<h2>{{ lang('LINKED_ACCOUNTS_MANAGEMENT') }}</h2>
	<div class="panel">
		<div class="inner">
			<p>{{ lang('LINKED_ACCOUNTS_DESCRIPTION') }}</p>

			<div class="action-bar bar-top">

				<a title="{{ lang('LINK_ACCOUNT') }}" href="{{ U_LINK_ACCOUNT }}" class="button">
					<span>{{ lang('LINK_ACCOUNT') }}</span> <i class="icon fa-user-plus fa-fw" aria-hidden="true"></i>
				</a>
			</div>

			<table class="table1">
				<thead>
				<tr>
					<th class="name">{{ lang('ACCOUNT') }}</th>
					<th class="center">{{ lang('LINKED_ON') }}</th>
					<th class="center mark">{{ lang('MARK') }}</th>
				</tr>
				</thead>
				<tbody>
				{% for account in linkedaccounts %}
				<tr class="{% if account.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
					<td><label for="{{ account.ID }}">{{ account.NAME }}</label></td>
					<td class="center date">{{ account.DATE }}</td>
					<td class="center mark"><input type="checkbox" name="keys[]" value="{{ account.ID }}"
												   id="{{ account.ID }}"></td>
				</tr>
				{% else %}
				<tr>
					<td colspan="3" class="bg1" style="text-align: center">{{ lang('NO_LINKED_ACCOUNTS') }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


	<fieldset class="display-actions">
		{{ S_HIDDEN_FIELDS }}
		{% if linkedaccounts|length %}
		<input type="submit" name="unlink" value="{{ lang('UNLINK_ACCOUNT') }}" class="button1">
		<div><a href="#"
				onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{{ lang('MARK_ALL') }}</a> &bull;
			<a href="#"
			   onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{{ lang('UNMARK_ALL') }}</a>
		</div>
		{% endif %}
		{{ S_FORM_TOKEN }}
	</fieldset>


</form>

{% INCLUDE 'ucp_footer.html' %}
