{% INCLUDE 'ucp_header.html' %}

<form S_FORM_ENCTYPE action="{{ U_ACTION }}" id="ucp" method="post" {{ }}>

	<h2>{{ lang('LINKED_ACCOUNTS_MANAGEMENT') }}</h2>
	<div class="panel">
		<div class="inner">
			<p>{{ lang('LINKED_ACCOUNTS_DESCRIPTION') }}</p>

			<div class="action-bar bar-top">

				<a class="button" href="{{ U_LINK_ACCOUNT }}" title="{{ lang('LINK_ACCOUNT') }}">
					<span>{{ lang('LINK_ACCOUNT') }}</span> <i aria-hidden="true" class="icon fa-user-plus fa-fw"></i>
				</a>
			</div>

			<table class="table1">
				<thead>
				<tr>
					<th class="name">{{ lang('ACCOUNT') }}</th>
					<th class="center">{{ lang('LINKED_ON') }}</th>
					<th class="center mark">{{ lang('MARK') }}</th>
				</tr>
				</thead>
				<tbody>
				{% for account in linkedaccounts %}
				<tr class="{% if account.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
					<td><label for="{{ account.ID }}">{{ account.NAME }}</label></td>
					<td class="center date">{{ account.DATE }}</td>
					<td class="center mark"><input id="{{ account.ID }}" name="keys[]" type="checkbox"
												   value="{{ account.ID }}"></td>
				</tr>
				{% else %}
				<tr>
					<td class="bg1" colspan="3" style="text-align: center">{{ lang('NO_LINKED_ACCOUNTS') }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


	<fieldset class="display-actions">
		{{ S_HIDDEN_FIELDS }}
		{% if linkedaccounts|length %}
		<input class="button1" name="unlink" type="submit" value="{{ lang('UNLINK_ACCOUNT') }}">
		<div><a href="#"
				onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{{ lang('MARK_ALL') }}</a> &bull;
			<a href="#"
			   onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{{ lang('UNMARK_ALL') }}</a>
		</div>
		{% endif %}
		{{ S_FORM_TOKEN }}
	</fieldset>


</form>

{% INCLUDE 'ucp_footer.html' %}
